*{ margin: 0px; box-sizing: border-box;}

body{
    position: relative;
    z-index: 1;
    font-family: sans-serif;
    
}

.navbar {
    position: fixed;
    z-index: 6;
    width: 100%;
}

.bg-dark {
    --bs-bg-opacity: 0.5; 
}

canvas {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
main {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;

    font-size: 32px;
    color: #fff;
    
    padding: 5vw;

    display: flex;
    flex-direction: column;
}
main section {
    width: 90%;
    padding: 100px 10px;
    min-height: 100vh;
    background: rgba(0,0,0,0.6);
    @media (min-width: 767px) {
        width: 50%;
    }  
}

main section p {
    padding: 2%;
    
}

@media (min-width: 767px) {
    main section:nth-child(2) { margin-left: 50%; }
    main section:nth-child(4) { margin-left: 50%; }
    main section:nth-child(6) { margin-left: 50%; }
    main section:nth-child(8) { margin-left: 50%; }
}


.map {
    width: 90%;
    margin: 0 auto;
    iframe {
        margin: 0 auto;
        opacity: 0.7;
    }
   
}



.sign-wrap-4 {
   /*  background: #337AB7; */
    /* text-align: center;
    padding: 30px 20px; */
    margin-top: 40px;


    .sign_word, .sign_word2 {

        font-family: 'TT Norms Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 51px;
        line-height: 61px;
        text-align: center;
        letter-spacing: 0.2em;

        color: #FFFFFF;
        /* font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        color: #F0F0F0;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 0.001em #bfe2ff, 0 0 0.5em #bfe2ff, 0 0 0.1em #bfe2ff; */

        span {
            animation: neon-4 linear infinite 2s;
        }
    }
    
    
    .sign_word2 { 
      

        font-family: 'TT Norms Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 61px;
        text-align: center;
        letter-spacing: 0.2em;

        color: #972B93;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 0.001em #bfe2ff, 0 0 0.01em #bfe2ff, 0 0 0.1em #bfe2ff;
    }
    
    
    .sign_word3 {
        font-family: 'TT Norms Pro';
        font-style: normal;
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
        color: #F0F0F0;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 0.001em #bfe2ff, 0 0 0.01em #bfe2ff, 0 0 0.1em #bfe2ff;
       
    }
    
    @keyframes neon-4 {
        78% {
            color: inherit;
            text-shadow: inherit;
        }
        79%{
            color: #0b3960;
        }
        80% {
            text-shadow: none;
        }
        81% {
            color: inherit;
            text-shadow: inherit;
        }
        82% {
            color: #0b3960;
            text-shadow: none;
        }
        83% {
            color: inherit;
            text-shadow: inherit;
        }
        92% {
            color: #0b3960;
            text-shadow: none;
        }
        92.5% {
            color: inherit;
            text-shadow: inherit;
        }
    }
    

}

.screen {
    text-align: center;
    a {
        width: 80%;

        font-family: 'TT Norms Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 61px;
        text-align: center;
        letter-spacing: 0.2em;
        text-decoration: underline;
        color: #FFFFFF;

        /* font-size: 25px;
        font-weight: bold;
        line-height: 50px;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 0.1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
        letter-spacing: 0.1em; */

        span {
            animation: neon-4 linear infinite 2s;
        }
        
        img {
            margin-top: 20px;
            width: 80%;
            opacity: 0.8;
        }
    }
  
}


h2, .navbar-brand {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

.accent_color {
    color: #972B93;
}
