*{ margin: 0px; box-sizing: border-box;}

body{
    position: relative;
    z-index: 1;
    font-family: sans-serif;
    
}
canvas {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
main {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;

    font-size: 32px;
    color: #fff;
    
    padding: 5vw;

    display: flex;
    flex-direction: column;
}
main section {
    width: 50%;
    padding: 100px 0px;
    height: 100vh;
    background: rgba(0,0,0,0.6);
}

main section p {
    padding: 5%;
    
}
main section:nth-child(2) { margin-left: 50%; }
main section:nth-child(4) { margin-left: 50%; }





.sign-wrap-4 {
   /*  background: #337AB7; */
    /* text-align: center;
    padding: 30px 20px; */
    margin-top: 40px;
}
.sign-wrap-4 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
}
.sign-wrap-4 .sign_word span {
    animation: neon-4 linear infinite 2s;
}

.sign-wrap-4 .sign_word2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   
}

.sign-wrap-4 .sign_word3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   
}

@keyframes neon-4 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.screen {
    text-align: center;
    a {
        color: #fff;
    }
    img {
        margin-top: 20px;
        width: 80%;
        opacity: 0.7;
    }
}
